doctype html
html(lang='en')
  head
    title= title
    link(rel="stylesheet" href="style.css")
    style.
        table {
            border-color: red;
            
        }
  body
    h1= message
    h2  Logs for :  #{drone.display_name}
    table.table
        tr
                th.name  &nbsp;  log Date/Time &nbsp;
                th.name &nbsp; Log Size  &nbsp;
                th.name  Distance Travelled 
                th.name &nbsp; Time In Air &nbsp;
        each log in loginfo
            tr
                td.drname &nbsp; 
                    a(href='/'+drone.display_name) #{log.mtime}
        
                td.folder &nbsp;   #{log.size} &nbsp;
                td.sshe &nbsp;    #{log.total_distance_travelled} &nbsp;
                td.lastupdate &nbsp;    #{log.total_time_in_air} &nbsp;
                td.lastupdate 
                     a(href=log.url) #{drone.display_name} &nbsp;
